@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    @apply leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed;
    background-image: url(../images/header.png);
}

.mac {
    background-image: url(../images/macbook.svg);
}

.active {
    @apply bg-white text-blue-500 border-blue-500 border-solid border-2
}