# Auto detect text files and perform LF normalization
* text=auto
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
api/SavedModel/Models/* filter=lfs diff=lfs merge=lfs -text
api/SavedModel/Models/** filter=lfs diff=lfs merge=lfs -text
api/SavedModel/Models/PhoBert/1/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
